/*** Layout ***/

html {
    height: 100%;
}

body {
    position: relative;
    padding-top: 80px;
    padding-bottom: 60px;
    min-height: 100%;
}

.navbar-brand {
    padding: 5px 15px 5px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding: 15px;
}

/*** Typography ***/

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

address p {
    padding-left: 5px;
    margin-bottom: 0;
}

.glyphicon.on-right,
.fa.on-right,
img.on-right {
    padding-left: 10px;
}

.glyphicon.on-left,
.fa.on-left,
img.on-left {
    padding-right: 10px;
}

.fa.fa-angle-double-right.on-right {
    padding-left: 5px;
    padding-right: 0;
}

.fa.fa-angle-double-right.on-left {
    padding-left: 0;
    padding-right: 5px;
}

.dl-field-list dt {
    white-space: normal;
}
.dl-field-list dd {
    margin-bottom: 10px;
}

.text-faded, .text-faded-25pct {
    opacity: 0.75;
}

.text-faded-33pct {
    opacity: 0.66;
}

.text-faded-50pct {
    opacity: 0.5;
}

.text-faded-75pct {
    opacity: 0.25;
}

/*** Colors ***/

.dark-green-bg {
    background-color: #006958;
    color: #fff;
}

.light-green-bg {
    background-color: #89B5AC;
    color: #fff;
}

/*** Buttons ***/

.rounded-btn {
    border-radius: 25px;
}

/*** Panels ***/

.panel {
    position: relative;
}

.panel .panel-body {
    min-height: 100%;
    position: relative;
}

.panel span.pull-right {
    display: block;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.panel hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px dashed #eee;
}

.panel-warning {
    background-color: #FCF8E3;
}

.panel-danger {
    background-color: #f2dede;
}

.panel-warning header {
    font-size: 18px;
    margin-bottom: 10px;
}

.panel-warning header .fa.fa-exclamation {
    padding-left:5px;
    padding-right:12px;
}

.panel-dark {
    background-color: #006958;
    color: #fff;
    border: 3px solid #89B5AC;
    margin-bottom: 30px;
}

.panel-dark .content a {
    color: #fff;
}

.panel-light-green {
    border: 2px solid #E6E7E8;
}

.panel-light-green .panel-heading {
    background-color: #89B5AC;
    color: #fff;
    border-bottom: 2px solid #E6E7E8;
    padding: 5px 10px;
    min-height: 50px;
    vertical-align: middle;
}

.panel-light-green .panel-heading .panel-heading-image {
    width: 50px;
    margin: 0;
    padding: 0;
    float: left
}

.panel-light-green .panel-heading .panel-title {
    padding: 10px 5px;
}

/*** Misc ***/

.spacer {
    display: inline-block;
}
